<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="SWF-Orchestrator" Language="1033" Version="1.0.0.0" Manufacturer="YourCompany" UpgradeCode="PUT-GUID-HERE">
    <Package InstallerVersion="500" Compressed="yes" Comments="Windows Installer Package"/>

    <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="SWF-Orchestrator">
          <!-- Replace with the actual executable file path -->
          <Component Id="MainExecutable" Guid="PUT-GUID-HERE">
            <File Id="MainFile" Name="SWF-Orchestrator.exe" DiskId="1" Source="C:\Users\320275576\Source\Repos\SWF-Orchestrator-Tests\src\bin\Release\SWF-Orchestrator.exe" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="Main Feature" Level="1">
      <ComponentRef Id="MainExecutable"/>
    </Feature>
  </Product>
</Wix>
